<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pubIdle(01).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,68}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,68}</string>
				<key>spriteSourceSize</key>
				<string>{58,68}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{58,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pubIdle(02).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,68}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,68}</string>
				<key>spriteSourceSize</key>
				<string>{58,68}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{58,0},{58,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pubIdle(03).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,68}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,68}</string>
				<key>spriteSourceSize</key>
				<string>{58,68}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,68},{58,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pubIdle(04).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,68}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,68}</string>
				<key>spriteSourceSize</key>
				<string>{58,68}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{58,68},{58,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pubIdle(05).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,68}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,68}</string>
				<key>spriteSourceSize</key>
				<string>{58,68}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,136},{58,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pubIdle(06).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,68}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,68}</string>
				<key>spriteSourceSize</key>
				<string>{58,68}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{58,136},{58,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pubIdle(07).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,68}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,68}</string>
				<key>spriteSourceSize</key>
				<string>{58,68}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,204},{58,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pubIdle(08).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,68}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,68}</string>
				<key>spriteSourceSize</key>
				<string>{58,68}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{58,204},{58,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pubIdle(09).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,68}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,68}</string>
				<key>spriteSourceSize</key>
				<string>{58,68}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,272},{58,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pubIdle(10).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,68}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,68}</string>
				<key>spriteSourceSize</key>
				<string>{58,68}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{58,272},{58,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pubIdle(11).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,68}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,68}</string>
				<key>spriteSourceSize</key>
				<string>{58,68}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,340},{58,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pubIdle(12).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,68}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,68}</string>
				<key>spriteSourceSize</key>
				<string>{58,68}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{58,340},{58,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pubIdle(13).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,68}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,68}</string>
				<key>spriteSourceSize</key>
				<string>{58,68}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,408},{58,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{128,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>pubIdle.png</string>
				<key>textureFileName</key>
				<string>pubIdle</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
