<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>weaponTraderTalk(01).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,73}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{53,73}</string>
				<key>spriteSourceSize</key>
				<string>{53,73}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{53,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>weaponTraderTalk(02).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,73}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{53,73}</string>
				<key>spriteSourceSize</key>
				<string>{53,73}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{53,0},{53,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>weaponTraderTalk(03).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,73}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{53,73}</string>
				<key>spriteSourceSize</key>
				<string>{53,73}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{106,0},{53,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>weaponTraderTalk(04).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,73}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{53,73}</string>
				<key>spriteSourceSize</key>
				<string>{53,73}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{159,0},{53,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>weaponTraderTalk(05).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,73}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{53,73}</string>
				<key>spriteSourceSize</key>
				<string>{53,73}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,73},{53,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>weaponTraderTalk(06).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,73}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{53,73}</string>
				<key>spriteSourceSize</key>
				<string>{53,73}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{53,73},{53,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>weaponTraderTalk(07).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,73}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{53,73}</string>
				<key>spriteSourceSize</key>
				<string>{53,73}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{106,73},{53,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>weaponTraderTalk(08).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,73}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{53,73}</string>
				<key>spriteSourceSize</key>
				<string>{53,73}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{159,73},{53,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>weaponTraderTalk(09).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,73}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{53,73}</string>
				<key>spriteSourceSize</key>
				<string>{53,73}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,146},{53,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>weaponTraderTalk(10).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,73}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{53,73}</string>
				<key>spriteSourceSize</key>
				<string>{53,73}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{53,146},{53,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>weaponTraderTalk.png</string>
				<key>textureFileName</key>
				<string>weaponTraderTalk</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
