<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldierWalk(01).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{72,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{155,1},{72,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(02).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{72,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{1,331},{72,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(03).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{72,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{155,111},{72,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(04).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{72,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{229,1},{72,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(05).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{72,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{77,221},{72,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(06).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{70,106}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{299,221},{70,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(07).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{70,106}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{371,221},{70,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(08).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{70,106}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{293,331},{70,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(09).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{70,106}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{365,329},{70,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{70,106}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{437,331},{70,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{72,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{75,331},{72,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{72,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{229,111},{72,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{74,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{79,1},{74,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{74,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{1,221},{74,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{76,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{76,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{1,111},{76,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{74,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{79,111},{74,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{72,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{303,1},{72,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{70,106}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{331,439},{70,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierWalk(20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{68,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{443,221},{68,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{70,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{1,441},{70,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierWalk(22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{70,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{111,441},{70,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierWalk(23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{70,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{149,331},{70,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{70,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{221,331},{70,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{70,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{221,441},{70,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierWalk(26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{70,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{377,111},{70,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{72,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{151,221},{72,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{72,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{303,111},{72,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{72,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{377,1},{72,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierWalk(30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3375,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{72,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{225,221},{72,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>soldierWalk.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b58dcfedac1498aa83bd397e3e1bb0bc:dce827fc8dbda6e97949bea68da4b6a0:c6bf16c1f642cae18b77f2958f3c7156$</string>
            <key>textureFileName</key>
            <string>soldierWalk.png</string>
        </dict>
    </dict>
</plist>
