<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldierReadyToShoot(01).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.166667,0.481651}</string>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{87,109}</string>
                <key>spriteSourceSize</key>
                <string>{123,109}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReadyToShoot(02).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.166667,0.481651}</string>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{87,109}</string>
                <key>spriteSourceSize</key>
                <string>{123,109}</string>
                <key>textureRect</key>
                <string>{{90,1},{87,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReadyToShoot(03).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.166667,0.481651}</string>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{85,109}</string>
                <key>spriteSourceSize</key>
                <string>{123,109}</string>
                <key>textureRect</key>
                <string>{{535,1},{85,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReadyToShoot(04).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.166667,0.481651}</string>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{87,109}</string>
                <key>spriteSourceSize</key>
                <string>{123,109}</string>
                <key>textureRect</key>
                <string>{{179,1},{87,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReadyToShoot(05).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.166667,0.481651}</string>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{87,109}</string>
                <key>spriteSourceSize</key>
                <string>{123,109}</string>
                <key>textureRect</key>
                <string>{{268,1},{87,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReadyToShoot(06).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.166667,0.481651}</string>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{87,109}</string>
                <key>spriteSourceSize</key>
                <string>{123,109}</string>
                <key>textureRect</key>
                <string>{{357,1},{87,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReadyToShoot(07).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.166667,0.481651}</string>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{87,109}</string>
                <key>spriteSourceSize</key>
                <string>{123,109}</string>
                <key>textureRect</key>
                <string>{{446,1},{87,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>soldierReadyToShoot.png</string>
            <key>size</key>
            <string>{621,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92330d7c7d66738bcf1d643a55bc3e84:0f85f7932dc4f05cff230f2a4a3029cf:18ce43cdb486c8bb989c1c52b6b76c60$</string>
            <key>textureFileName</key>
            <string>soldierReadyToShoot.png</string>
        </dict>
    </dict>
</plist>
