<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldierDead(01).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{1,254},{79,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(02).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{114,256},{79,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(03).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{1,335},{79,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(04).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{79,109}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{108,424},{79,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(05).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{79,109}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{1,501},{79,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierDead(06).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{81,111}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{1,171},{81,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(07).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{83,111}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(08).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{83,111}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{114,1},{83,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(09).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,111}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{1,86},{83,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{83,109}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{114,86},{83,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{83,107}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{114,171},{83,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{83,105}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{1,416},{83,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{85,103}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{114,337},{85,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{85,101}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{82,505},{85,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{85,101}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{82,592},{85,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{85,99}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{80,679},{85,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{78,857},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierDead(18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-2,-12}</string>
                <key>spriteSize</key>
                <string>{89,93}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{78,766},{89,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-2,-15}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{76,954},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierDead(20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-3,-18}</string>
                <key>spriteSize</key>
                <string>{91,85}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{74,1045},{91,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierDead(21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-3,-20}</string>
                <key>spriteSize</key>
                <string>{91,83}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{72,1132},{91,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierDead(22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-4,-23}</string>
                <key>spriteSize</key>
                <string>{93,79}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{72,1217},{93,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-4,-25}</string>
                <key>spriteSize</key>
                <string>{93,75}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{68,1312},{93,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-4,-28}</string>
                <key>spriteSize</key>
                <string>{95,69}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{68,1407},{95,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-4,-32}</string>
                <key>spriteSize</key>
                <string>{99,61}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{139,1480},{99,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-5,-33}</string>
                <key>spriteSize</key>
                <string>{101,59}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{167,1066},{101,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-5,-34}</string>
                <key>spriteSize</key>
                <string>{101,57}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{1,1537},{101,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-5,-34}</string>
                <key>spriteSize</key>
                <string>{103,57}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{66,1504},{103,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-5,-33}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{167,961},{103,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-5,-32}</string>
                <key>spriteSize</key>
                <string>{103,61}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{165,1169},{103,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-5,-31}</string>
                <key>spriteSize</key>
                <string>{103,63}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{1,1432},{103,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(32).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-5,-30}</string>
                <key>spriteSize</key>
                <string>{103,65}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{1,1327},{103,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-5,-29}</string>
                <key>spriteSize</key>
                <string>{101,67}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{145,1377},{101,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(34).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-5,-28}</string>
                <key>spriteSize</key>
                <string>{101,69}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{1,1117},{101,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-6,-28}</string>
                <key>spriteSize</key>
                <string>{101,69}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{153,1274},{101,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(36).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-6,-27}</string>
                <key>spriteSize</key>
                <string>{99,71}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{1,1016},{99,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-7,-26}</string>
                <key>spriteSize</key>
                <string>{99,73}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{1,915},{99,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(38).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-7,-25}</string>
                <key>spriteSize</key>
                <string>{99,75}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{1,713},{99,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-7,-25}</string>
                <key>spriteSize</key>
                <string>{99,75}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{1,814},{99,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(40).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-7,-24}</string>
                <key>spriteSize</key>
                <string>{99,77}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{1,612},{99,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-4,-30}</string>
                <key>spriteSize</key>
                <string>{105,65}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{1,1220},{105,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(42).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{-1,-37}</string>
                <key>spriteSize</key>
                <string>{111,51}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{173,848},{111,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{0,-41}</string>
                <key>spriteSize</key>
                <string>{113,43}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{181,733},{113,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(44).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{0,-42}</string>
                <key>spriteSize</key>
                <string>{113,41}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{185,505},{113,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{1,-42}</string>
                <key>spriteSize</key>
                <string>{111,41}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{185,620},{111,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierDead(46).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{1,-43}</string>
                <key>spriteSize</key>
                <string>{111,39}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{1,1640},{111,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierDead(47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{1,-43}</string>
                <key>spriteSize</key>
                <string>{111,39}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{114,1609},{111,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierDead(48).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.331858,0.524}</string>
                <key>spriteOffset</key>
                <string>{1,-43}</string>
                <key>spriteSize</key>
                <string>{111,39}</string>
                <key>spriteSourceSize</key>
                <string>{113,125}</string>
                <key>textureRect</key>
                <string>{{114,1650},{111,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>soldierDead.png</string>
            <key>size</key>
            <string>{227,1690}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1518df47b33fb1367c364b7a15a90fce:91b83e45ed779da61ea7b66cee49d230:dde1b8a8dbdcfa51a7ac3ad2d47f019b$</string>
            <key>textureFileName</key>
            <string>soldierDead.png</string>
        </dict>
    </dict>
</plist>
