<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldierAttack(01).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.148276,0.473214}</string>
                <key>spriteOffset</key>
                <string>{-18,1}</string>
                <key>spriteSize</key>
                <string>{109,110}</string>
                <key>spriteSourceSize</key>
                <string>{145,112}</string>
                <key>textureRect</key>
                <string>{{140,219},{109,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierAttack(02).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.148276,0.473214}</string>
                <key>spriteOffset</key>
                <string>{-18,1}</string>
                <key>spriteSize</key>
                <string>{109,110}</string>
                <key>spriteSourceSize</key>
                <string>{145,112}</string>
                <key>textureRect</key>
                <string>{{140,330},{109,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierAttack(03).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.148276,0.473214}</string>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{109,110}</string>
                <key>spriteSourceSize</key>
                <string>{145,112}</string>
                <key>textureRect</key>
                <string>{{140,441},{109,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierAttack(04).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.148276,0.473214}</string>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{109,108}</string>
                <key>spriteSourceSize</key>
                <string>{145,112}</string>
                <key>textureRect</key>
                <string>{{140,109},{109,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack(05).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.148276,0.473214}</string>
                <key>spriteOffset</key>
                <string>{-18,-1}</string>
                <key>spriteSize</key>
                <string>{109,106}</string>
                <key>spriteSourceSize</key>
                <string>{145,112}</string>
                <key>textureRect</key>
                <string>{{140,1},{109,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack(06).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.148276,0.473214}</string>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{113,108}</string>
                <key>spriteSourceSize</key>
                <string>{145,112}</string>
                <key>textureRect</key>
                <string>{{1,639},{113,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack(07).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.148276,0.473214}</string>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{137,102}</string>
                <key>spriteSourceSize</key>
                <string>{145,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{137,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack(08).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.148276,0.473214}</string>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{137,102}</string>
                <key>spriteSourceSize</key>
                <string>{145,112}</string>
                <key>textureRect</key>
                <string>{{1,105},{137,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack(09).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.148276,0.473214}</string>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{137,104}</string>
                <key>spriteSourceSize</key>
                <string>{145,112}</string>
                <key>textureRect</key>
                <string>{{1,209},{137,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack(10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.148276,0.473214}</string>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{137,106}</string>
                <key>spriteSourceSize</key>
                <string>{145,112}</string>
                <key>textureRect</key>
                <string>{{1,315},{137,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack(11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.148276,0.473214}</string>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{137,106}</string>
                <key>spriteSourceSize</key>
                <string>{145,112}</string>
                <key>textureRect</key>
                <string>{{1,423},{137,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack(12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.148276,0.473214}</string>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{137,106}</string>
                <key>spriteSourceSize</key>
                <string>{145,112}</string>
                <key>textureRect</key>
                <string>{{1,531},{137,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack(13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.148276,0.473214}</string>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{135,108}</string>
                <key>spriteSourceSize</key>
                <string>{145,112}</string>
                <key>textureRect</key>
                <string>{{116,664},{135,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack(14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.148276,0.473214}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{129,110}</string>
                <key>spriteSourceSize</key>
                <string>{145,112}</string>
                <key>textureRect</key>
                <string>{{116,774},{129,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack(15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.148276,0.473214}</string>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{125,110}</string>
                <key>spriteSourceSize</key>
                <string>{145,112}</string>
                <key>textureRect</key>
                <string>{{113,886},{125,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack(16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.148276,0.473214}</string>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{119,110}</string>
                <key>spriteSourceSize</key>
                <string>{145,112}</string>
                <key>textureRect</key>
                <string>{{1,861},{119,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soldierAttack(17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.148276,0.473214}</string>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{113,110}</string>
                <key>spriteSourceSize</key>
                <string>{145,112}</string>
                <key>textureRect</key>
                <string>{{1,749},{113,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack(18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.148276,0.473214}</string>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{111,110}</string>
                <key>spriteSourceSize</key>
                <string>{145,112}</string>
                <key>textureRect</key>
                <string>{{140,552},{111,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>soldierAttack.png</string>
            <key>size</key>
            <string>{252,997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92d75d8488f19fb457c564ae9643e7f0:16d2187c6f0f5c43754d38cdcac0bba3:a0a206f9c78e2f1b8cec051e66b5ba18$</string>
            <key>textureFileName</key>
            <string>soldierAttack.png</string>
        </dict>
    </dict>
</plist>
