<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldierReload(01).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38,0.571429}</string>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{46,122}</string>
                <key>spriteSourceSize</key>
                <string>{50,126}</string>
                <key>textureRect</key>
                <string>{{611,1},{46,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReload(02).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38,0.571429}</string>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{46,122}</string>
                <key>spriteSourceSize</key>
                <string>{50,126}</string>
                <key>textureRect</key>
                <string>{{659,1},{46,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReload(03).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38,0.571429}</string>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{46,122}</string>
                <key>spriteSourceSize</key>
                <string>{50,126}</string>
                <key>textureRect</key>
                <string>{{707,1},{46,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReload(04).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38,0.571429}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{48,122}</string>
                <key>spriteSourceSize</key>
                <string>{50,126}</string>
                <key>textureRect</key>
                <string>{{411,1},{48,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReload(05).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38,0.571429}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{48,124}</string>
                <key>spriteSourceSize</key>
                <string>{50,126}</string>
                <key>textureRect</key>
                <string>{{105,1},{48,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReload(06).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38,0.571429}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,124}</string>
                <key>spriteSourceSize</key>
                <string>{50,126}</string>
                <key>textureRect</key>
                <string>{{155,1},{48,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReload(07).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38,0.571429}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,124}</string>
                <key>spriteSourceSize</key>
                <string>{50,126}</string>
                <key>textureRect</key>
                <string>{{205,1},{48,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReload(08).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38,0.571429}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,124}</string>
                <key>spriteSourceSize</key>
                <string>{50,126}</string>
                <key>textureRect</key>
                <string>{{1,1},{50,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReload(09).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38,0.571429}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,124}</string>
                <key>spriteSourceSize</key>
                <string>{50,126}</string>
                <key>textureRect</key>
                <string>{{53,1},{50,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReload(10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38,0.571429}</string>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{50,122}</string>
                <key>spriteSourceSize</key>
                <string>{50,126}</string>
                <key>textureRect</key>
                <string>{{255,1},{50,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReload(11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38,0.571429}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,122}</string>
                <key>spriteSourceSize</key>
                <string>{50,126}</string>
                <key>textureRect</key>
                <string>{{307,1},{50,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReload(12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38,0.571429}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,122}</string>
                <key>spriteSourceSize</key>
                <string>{50,126}</string>
                <key>textureRect</key>
                <string>{{359,1},{50,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReload(13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38,0.571429}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,122}</string>
                <key>spriteSourceSize</key>
                <string>{50,126}</string>
                <key>textureRect</key>
                <string>{{461,1},{48,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReload(14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38,0.571429}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{48,122}</string>
                <key>spriteSourceSize</key>
                <string>{50,126}</string>
                <key>textureRect</key>
                <string>{{511,1},{48,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReload(15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38,0.571429}</string>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{48,122}</string>
                <key>spriteSourceSize</key>
                <string>{50,126}</string>
                <key>textureRect</key>
                <string>{{561,1},{48,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierReload(16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38,0.571429}</string>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{46,122}</string>
                <key>spriteSourceSize</key>
                <string>{50,126}</string>
                <key>textureRect</key>
                <string>{{755,1},{46,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>soldierReload.png</string>
            <key>size</key>
            <string>{802,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:326c0ddb43d328d34b131f2e17e4dbf7:db7ed7345e2a86350669d0cdd4501904:cc117d9d5ca315f30c309b8e3c2f1d65$</string>
            <key>textureFileName</key>
            <string>soldierReload.png</string>
        </dict>
    </dict>
</plist>
