<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldierIdle(01).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1233,1},{84,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(02).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1233,111},{84,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(03).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(04).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1,111},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(05).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{89,1},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(06).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{89,111},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(07).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{177,1},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(08).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{177,111},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(09).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{265,1},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{265,111},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{353,1},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{353,111},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{441,1},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{441,111},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{529,1},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{529,111},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{617,1},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{617,111},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{705,1},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{705,111},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{793,1},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{793,111},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{881,1},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{881,111},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{969,1},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{969,111},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1057,1},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1057,111},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1145,1},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1145,111},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1319,1},{84,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(32).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1319,111},{84,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1405,1},{84,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(34).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1405,111},{84,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1491,1},{84,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierIdle(36).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.197674,0.462963}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1491,111},{84,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>soldierIdle.png</string>
            <key>size</key>
            <string>{1576,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c117fb83bd76ee8f5b271d46d5ccb822:f96ee2c003762845faa9d2668377603e:390a2f6fc8322c4934cd65a4543a6ffe$</string>
            <key>textureFileName</key>
            <string>soldierIdle.png</string>
        </dict>
    </dict>
</plist>
