<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>munkTalk(01).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,74}</string>
				<key>spriteSourceSize</key>
				<string>{38,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{38,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>munkTalk(02).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,74}</string>
				<key>spriteSourceSize</key>
				<string>{38,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{38,0},{38,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>munkTalk(03).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,74}</string>
				<key>spriteSourceSize</key>
				<string>{38,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,0},{38,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>munkTalk(04).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,74}</string>
				<key>spriteSourceSize</key>
				<string>{38,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{114,0},{38,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>munkTalk(05).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,74}</string>
				<key>spriteSourceSize</key>
				<string>{38,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{152,0},{38,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>munkTalk(06).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,74}</string>
				<key>spriteSourceSize</key>
				<string>{38,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{190,0},{38,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>munkTalk(07).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,74}</string>
				<key>spriteSourceSize</key>
				<string>{38,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,74},{38,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>munkTalk(08).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,74}</string>
				<key>spriteSourceSize</key>
				<string>{38,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{38,74},{38,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>munkTalk(09).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,74}</string>
				<key>spriteSourceSize</key>
				<string>{38,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,74},{38,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>munkTalk(10).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,74}</string>
				<key>spriteSourceSize</key>
				<string>{38,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{114,74},{38,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>munkTalk(11).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,74}</string>
				<key>spriteSourceSize</key>
				<string>{38,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{152,74},{38,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>munkTalk.png</string>
				<key>textureFileName</key>
				<string>munkTalk</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
