<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>firemanAttack(01).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(02).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{100,0},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(03).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{200,0},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(04).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{300,0},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(05).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{400,0},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(06).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,100},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(07).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{100,100},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(08).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{200,100},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(09).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{300,100},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(10).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{400,100},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(11).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,200},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(12).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{100,200},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(13).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{200,200},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(14).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{300,200},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(15).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{400,200},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(16).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,300},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(17).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{100,300},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(18).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{200,300},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(19).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{300,300},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(20).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{400,300},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(21).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,400},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(22).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{100,400},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(23).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{200,400},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(24).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{300,400},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(25).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{400,400},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(26).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,500},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(27).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{100,500},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(28).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{200,500},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(29).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{300,500},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(30).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{400,500},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(31).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,600},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firemanAttack(32).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{100,600},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>firemanAttack.png</string>
				<key>textureFileName</key>
				<string>firemanAttack</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
