<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TransferPoint(01).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(02).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{82,0},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(03).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{164,0},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(04).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{246,0},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(05).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,0},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(06).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{410,0},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(07).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,100},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(08).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{82,100},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(09).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{164,100},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(10).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{246,100},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(11).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,100},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(12).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{410,100},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(13).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,200},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(14).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{82,200},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(15).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{164,200},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(16).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{246,200},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(17).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,200},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(18).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{410,200},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(19).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,300},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(20).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{82,300},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(21).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{164,300},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(22).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{246,300},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(23).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,300},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(24).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{410,300},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(25).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,400},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(26).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{82,400},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(27).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{164,400},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(28).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{246,400},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TransferPoint(29).png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,400},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>TransferPoint.png</string>
				<key>textureFileName</key>
				<string>TransferPoint</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
